/* === Zurücksetzen von grundlegenden Stilen=== */
html {
  height: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* === Stile für Schriftarten -farben, etc. === 
in Klassen und IDs*/

.sidebar {
  background-color: olivedrab;
  height: auto;
  width: 20%;
  position: fixed;
  left: 0;
  float: left;
}

#title {
  color: olivedrab;
  font-family: fantasy;
  text-align: center;
}

.content h3 {
  font-weight: lighter;
}

#sidenote {
  color: darkgrey;
  text-align: right;
}

/* === Stile fürs Layout === */

/* Header*/
header {
  background-color: lightgrey;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 75%;
  float: right;
  margin-right: 2%;
}

.mainsection {
  justify-content: flex-start;
}

/*Footer*/
footer {
  background-color: lightgrey;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Komponenten-Layout === */

/*Pseudoklasse hover und visited für Links*/

#header-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 26%;
  height: 26%;
}

.links ul,
.sidebar ul {
  list-style-type: none;
}

.links a,
.links form {
  margin-right: 16px;
  color: olivedrab;
  text-decoration: none;
}

.sidebar a {
  color: lightgrey;
  text-decoration: none;
}

.links a:hover,
.sidebar a:hover {
  color: green;
}

.content li {
  list-style-type: circle;
}

.content ol {
  list-style-type: decimal;
}

/* === Media Queries === */
@media screen and (min-width: 768px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
