/* === Zurücksetzen von grundlegenden Stilen=== */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

/* === Stile für Schriftarten -farben, etc. === 
in Klassen und IDs*/

.sidebar {
  background-color: olivedrab;
  height: auto;
  width: 20%;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  font-size: 20px;
}

#title {
  color: olivedrab;
  font-family: fantasy;
  text-align: center;
}

/* === Stile fürs Layout === */

/* Header*/
header {
  background-color: darkgrey;
  height: 15%;
  width: 100%;
}

header img {
  float: left;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.mainsection,
#title {
  width: 60%;
}

/* Content */
.mainsection {
  text-align: left;
}

.img {
}

footer {
  background-color: darkgrey;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Komponenten-Layout === */

/*Pseudoklasse hover und visited für Links*/

.links ul,
.sidebar ul {
  list-style-type: none;
}

.links li,
.links form li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links a,
.links form {
  margin-right: 16px;
  color: olivedrab;
  text-decoration: none;
  flex-direction: row;
}

.sidebar a {
  color: lightgrey;
  text-decoration: none;
}

.links a:hover,
.sidebar a:hover {
  color: green;
}

.links a:visited,
.sidebar a:visited {
  color: blueviolet;
}

/* === Media Queries === */
@media screen and (min-width: 768px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
