
body{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Header*/
header {
    background-color: darkgrey;
    flex-basis: 100%;
}
/*Navigationsbereich im Header*/
header nav ul {
    text-align: right;  
}
/*Anordnung der Links im Header*/
header nav ul li {
    display: inline;
}

/* Content */
main {
    display: flex;
    flex-basis: 100%;
    }
 
div#content {
    background-color: olivedrab;
    text-align: left;
    flex-basis: 40%;
}

div#section {
    text-align: left;
    flex-basis: 60%
}

/*Footer*/
footer {
    background-color: darkgrey;
    clear: both;
    flex-basis: 100%;
}
/*Links im Footer*/
footer nav ul { 
    text-align: center; 
}
/*Anordnung Links im Footer*/
footer nav ul li {
    display: inline;
}

/*Sonstiges*/
section h1 {
    color: olivedrab;
    text-align: center;
}

img {
    float:left;
}