header,
footer {
  background-color: lightgrey;
  width: 100%;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_img {
  height: 100%;
  max-height: 120px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 2rem;
}

.nav-links li {
  margin: 0 10px;
}

form input[type="text"] {
  padding: 0.2rem;
  border: none;
}

.nav-container a,
#nav-sm a {
  color: olivedrab;
  text-decoration: none;
}

#title {
  color: olivedrab;
  font-family: fantasy;
  text-align: center;
}

#sidebar {
  background-color: olivedrab;
  height: auto;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  font-weight: lighter;
  font-size: 120%;
}

#sidebar a {
  color: lightgrey;
  text-decoration: none;
}

.nav-container a:hover,
#sidebar a:hover,
.th:hover,
#nav-sm a:hover {
  color: green;
}

label {
  margin-right: 1rem;
  margin-left: 1rem;
}

#break {
  display: block;
}

#content h3 {
  font-weight: lighter;
}

#content {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  margin-top: 1rem;
}

#content li {
  list-style-type: circle;
}

section {
  padding: 1rem;
}

.card-body h5 {
  font-size: 110%;
}

.sidenote {
  color: darkgrey;
  text-align: right;
  font-size: 90%;
}

footer {
  display: flex;
  justify-content: center;
}

footer li {
  padding-top: 0.9rem;
}

/* Navigation mit der ID nav-sm nur fürs Smartphone, standardmäßig ausblenden*/
#nav-sm {
  display: none;
}

/* =============== Media Queries ===============  */
/* für Smartphones*/
@media screen and (max-width: 767px) {
  header nav .nav-container {
    display: none;
  }

  #nav-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    font-size: 105%;
  }

  #header_img_sm {
    height: 100%;
    max-height: 80px;
    width: auto;
  }

  #sidebar {
    display: none;
  }

  #content {
    width: 90%;
    margin-left: 2rem;
  }

  .sidenote {
    font-size: 70%;
  }

  footer li {
    padding-top: 0.7rem;
    font-size: 90%;
  }
}

/* für Tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #sidebar li {
    font-size: 110%;
  }
}
