/* === Zurücksetzen von grundlegenden Stilen=== */
html {
  height: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* === Stile für Schriftarten,  -farben, etc. === 
in Klassen und IDs*/

#title {
  color: olivedrab;
  font-family: fantasy;
  text-align: center;
}

.content h3 {
  font-weight: lighter;
}

.sidenote {
  color: darkgrey;
  text-align: right;
  font-size: 90%;
}

.card-body h5 {
  font-size: 110%;
}

/* === Stile fürs Layout === */

/* Header*/

header {
  background-color: lightgrey;
  width: 100%;
  justify-content: space-between;
}

.nav-item {
  padding: 8% 0;
}

.content {
  width: 75%;
  float: right;
  margin-right: 2%;
}

.mainsection {
  justify-content: flex-start;
}

.sidebar {
  background-color: olivedrab;
  height: auto;
  width: 20%;
  position: fixed;
  left: 0;
  float: left;
  padding-top: 1%;
  font-weight: lighter;
  font-size: 130%;
}

/*Footer*/
footer {
  background-color: lightgrey;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 3%;
}

/* === Komponenten-Layout === */

/*Pseudoklasse hover und visited für Links*/

#header-img {
  position: absolute;
  justify-content: flex-start;
  max-height: auto;
  max-width: 13%;
}

form input[type="text"] {
  padding: 1%;
  border: none;
}

.header_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_links ul,
.footer_links ul,
.sidebar ul {
  list-style-type: none;
}

.header_links ul,
.footer_links ul {
  align-items: center;
}

.header_links a,
.header_links form,
.footer_links a,
.nav-sm a {
  margin-right: 16px;
  color: olivedrab;
  text-decoration: none;
}

.sidebar a {
  color: lightgrey;
  text-decoration: none;
}

.header_links a:hover,
.footer_links a:hover,
.sidebar a:hover,
.th:hover,
.nav-sm a:hover {
  color: green;
}

.content li {
  list-style-type: circle;
}

label {
  margin-right: 16px;
  margin-left: 16px;
}

/* === Media Queries === */
/* für Smartphones*/
@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .sidenote {
    font-size: 70%;
  }

  .content {
    width: 92%;
  }

  .nav-item a,
  .nav-item form {
    display: none;
  }

  .nav-sm {
    display: inline;
    font-size: 105%;
  }

  .nav-sm li {
    padding: 3% 0;
  }
}

/* für Tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    font-size: 110%;
  }

  .nav-sm {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-sm {
    display: none;
  }
}
